# Ignore folders
results/checkpoint*/
venv/
__pycache__/
saved_model*/
results_xlm_roberta*/
emotion_model_20250722_050505/
go-emotions-model/
*logs_*/
results_20250722_050505/
srilanka_emotion_model*/
srilanka_results_*/
sarcasm_training_results_*/
sarcasm_emotion_features_split/
sarcasm_imbalance_fixed_*/

# Ignore temporary files
*.log
*.tmp 
*.idea/
*.env
